{% extends "start_page.jinja2" %}
{% block datas %}
					<div class="aboutContainer col-md-12 col-xs-12 col-sm-12">
						<p class="halfPost">This project was made as course project by Vakhtin Alexandr the student of URFU.
						<br> Contacts: <br>
						<a href="mailto:theworldtocollapse@mail.ru" class="links">theworldtocollapse@mail.ru</a>
						<br>
						<a href="https://vk.com/all_is_fire" class="links">vk.com</a>
						<br>
						<a href="https://github.com/BallOfDestruction" class="links">github</a>
						<br>
						</p>
					</div>
{% endblock %}