{% extends "start_page.jinja2" %}
{% block datas %}
					<div class="wikiElement container col-md-12 col-sm-12 col-sx-12">
						<div id="carousel-example-arts" class="carousel slide col-md-12 col-xs-12 col-sm-12" data-ride="carousel">
							<div class="row">
								<div class="carousel-inner">
							   	 	<div class="item active">
							      		<img src="{{first.Path}}" alt="Factorio" class="carusel">
							   	 	</div>
									{% for image in images %}
							   	 	<div class="item">
							      		<img src="{{image.Path}}" alt="Factorio" class="carusel">
							   	 	</div>
									{% endfor %}
								</div>
							    <a class="left carousel-control" href="#carousel-example-arts" data-slide="prev">
							    	<span class="glyphicon glyphicon-chevron-left"></span>
							    </a>
							  	<a class="right carousel-control" href="#carousel-example-arts" data-slide="next">
							    	<span class="glyphicon glyphicon-chevron-right"></span>
							  	</a>
						  	</div>
						</div>
					</div>
					<div class="wikiElement col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<form action="arts.html" method="POST" enctype="multipart/form-data">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<input type="file" class="form-control" name="picture"  accept="image/jpeg,image/png,image/gif">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<input type="submit" class="form-control" value="Add Art">
								</div>
							</form>
						</div>
					</div>
{% endblock %}
