{% extends "base_html_footer_header_sidemenu.jinja2" %}
{% block maindata %}
			<article class="article col-md-8 col-xs-8 col-sm-8" id="posts">
				<div class="col-md-12 col-xs-12 col-sm-12">
					{% block datas %} {% endblock %}
				</div>
			</article>
{% endblock %}
