{% extends "base_html_footer_header.jinja2" %}
{% block data %}
		<section class="section col-md-12 col-xs-12 col-sm-12 container">
		    {% block maindata %} {% endblock %}
		    {% block sidemenu %} {% endblock %}
		</section>
{% endblock %}
