{% extends "start_page.jinja2" %}
{% block datas %}
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="row">
					{% for game in games %}
						<div class="post col-md-12 col-xs-12 col-sm-12">
							<p class="topicPost">{{game.Name}}</p>
							<p class="line"></p>
							<p class="smallPost">Posted On
								4 dec 2016
								by
								{{ game.Nick_autor}}
							</p>
							<a href="{{game.Picture}}" rel="group" class="fancybox" title="{{game.Name}}">
								<img class="imagepost" src="{{game.Picture}}" alt="imagepost">
							</a>
							<p class="bodyPost">{{game.Description}}</p>
						</div>
					{% endfor %}
				</div>
			</div>
{% endblock %}
