{% extends "base_html.jinja2" %}
{% block footer %}
		<footer class="footer col-md-12 col-xs-12 col-sm-12"> 
			<div class="center">
				<p class="footerLine"></p>
				<p id="textfooter" class="text-center">All content © 2016 'Factorio Forum' | All rights reserved</p> 
			</div>
		</footer>
{% endblock %}
