{% extends "start_page.jinja2" %}
{% block datas %}
					<div class="homeContainer col-md-12 col-sm-12 col-sx-12">
					<h2>Hi, friends</h2><br>
					<p class="halfPost">This site exists to make it easier to get used to the rather complex strategy game 
					<a class="links" href="https://www.factorio.com/">Factorio</a></p>
					<p class="halfPost">Here you will find the information you need, so that this game does not seem to you a dense forest</p>
					<p class="halfPost">We have a quick reference to the subjects of the game -> <a href="wiki.html" class="links">here</a></p>
					<p class="halfPost">Also we have a gallery of images of fans -> <a href="arts.html" class="links">here</a></p>
					<p class="halfPost">You can look at the game and end of construction, you can boast of your own system -> <a href="endGame.html" class="links">here </a></p>
					<p class="halfPost">Contact with developers can -> <a href="about.html" class="links">here</a></p>
					<p class="halfPost">Buy and dowland the game you can on the sidebar this site</p>
					<p class="halfPost">And of course, the main content of our site, policies and structures that can lead you to victory. You can either use someone else's, and to show their achievements -> <a href="design.html" class="links">HERE</a></p>
					</div>
{% endblock %}