{% extends "base_data.jinja2" %}
{% block sidemenu %}
			<aside class="right-aside col-md-4 col-xs-4 col-sm-4">
				<div class="col-md-12 text-center">
					<a href="https://www.factorio.com/" class="officialsite text-center">
						<img src="/static/images/miniLogo.png" alt="officialsite">
						<p class="sideStr">Official site</p>
					</a>
				</div>

				<div class="col-md-12 col-xs-12 col-sm-12 container">
					<p class="footerLine"></p>
					<div class="col-md-6 col-xs-6 col-sm-6 container text-center">
						<a class="btn sidebtn" href="https://www.factorio.com/buy">Buy Game</a>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6 container text-center">
						<a class="btn sidebtn" href="https://www.factorio.com/demo">Try Demo</a>
					</div>
				</div>

				<div class="col-md-12 col-xs-12 col-sm-12 container text-center">
					<p class="footerLine"></p>
					<p class="sideStr">Free Version
						<img class="no_copyright" src="static/images/no_copyright.jpg" alt="no_copyright">
					</p>
					<div class="container col-md-6 col-xs-6 col-sm-6 center">
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAVWVZMWQtS0ZSbVE">Win x32</a>
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAVzhXQUJaMjRTMGM">Win x32/x64</a>
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAN1k1NFl2TG9SUFk">Linux x32</a>
					</div>
					<div class="container col-md-6 col-xs-6 col-sm-6 ">
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAcTZ5Ym5JV2RaVnM">Win x64</a>
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAcnR1M1JDdEdnMmM">MacOS</a>
						<a class="btn sidebtn" href="https://drive.google.com/open?id=0B9w5oyxlitTAak9WMW0tQVFIdnc">Linux x64</a>
					</div>
				</div>
				
				<div class="col-md-12 col-xs-12 col-sm-12 container text-center">
					<p class="footerLine"></p>
					<div class="container col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3">
						<a class="btn sidebtn" href="http://store.steampowered.com/app/427520">Steam</a>
					</div>
				</div>
				
				<div class="col-md-12 col-xs-12 col-sm-12 container text-center">
					<p class="footerLine"></p>
					<p>GoodInfo</p>
				</div>
			</aside>
{% endblock %}
