{% extends "start_page.jinja2" %}
{% block datas %}
					<div class="wikiElement container col-md-12 col-sm-12 col-sx-12">
						<p class="topicPost">Resources</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/wood.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Logs</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It obtained cut down trees</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/coal.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Coal</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produced at the field</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/iron-ore.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Iron ore</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produced at the field</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/copper-ore.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Copper ore</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produced at the field</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/stone.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Stone</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produced at the field</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/water.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Water</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It pumped from lakers</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/oil.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Oil</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It pumped from the oil spills by oil derrick</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/fish.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Fish</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produced from the water space</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/alian-artefact.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Alian artifact</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It extracted from the remains of the Kusaka's dens</div>
						</div>

						<p class="topicPost">Intermediate products</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/broads.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Broads</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from a wood</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/iron-sheet.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Iron sheet</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in the furnace from an iron ore</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/copper-sheet.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Copper sheet</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in the furnace from a copper ore</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/steal-beam.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steel beam</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in the furnaces from a steel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/iron-rod.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Iron rod</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from an iron sheet</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/iron-gear.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Iron gear</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from an iron sheet</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/copper-cable.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Copper cable</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from a copper sheet</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/block-of-stone.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Block of stone</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in oven from a stone</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/heavy-oil.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Heavy oil</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created by refining of crude oil at the refinery</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/light-oil.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Light oil</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created by refining of crude oil at the refinery</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/oil-gas.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Oil gas</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created by refining of crude oil at the refinery</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/lubrication.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Lubrication</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in a chemical plant from heavy oil</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/plastic-bar.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Plastic bar</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in a chemical plant from associated gas and coal</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/sulfur.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Sulfur</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in a chemical plant from associated gas and water</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/sulfuric-acid.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Sulfuric acid</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in a chemical plant from sulfur and water</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/explosive.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Explosive</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created in a chemical plant from sulfur, carbon and water</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/battery.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Battery</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created at a chemical plant from sulfuric acid, copper and iron plates</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/electronic-circuits.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Electronic circuits</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from copper cables and iron sheets</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/improved-schema.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Improved schema</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from electronic circuits and plastic</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/CPU.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">CPU</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created from electronic circuits and improved electronic circuit and sulfuric acid in an assembly machine</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/engine.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Engine</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created on the assembly machine</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/motor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Motor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It created on the assembly machine</div>
						</div>

						<p class="topicPost">Mining and smelting ore</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/stone-foundry.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Stone foundry</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows smelt ore. Melting rate of 100%. It needs fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/steel-foundry.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steel foundry</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows smelt ore. melting rate of 200%. It needs fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/electric-smelting.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Electric smelting</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows refiner electric smelting ore. melting rate of 200%. It needs to be connected to the mains.</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/steam-mine.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steam mine</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It mine in the area of 2x2. It needs fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/electric-mine.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Electric mine</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It mine in the area of 5x5. It needs to be connected to the mains</div>
						</div>

						<p class="topicPost">Extracting and processing of liquids</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/pump.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Pump</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It pump water from reservoirs</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/oil-derrick.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Oil derrick</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It extract oil from oil spills. It needs to be connected to the mains</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/small-pump.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Small pump</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides for fluid flow in one direction the pipes. It needs to be connected to the mains</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/boiler.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Boiler</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It heats the water for the steam generator. It needs fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/oil-refinery.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Oil refinery</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It cleans crude oil and produces 3 types of refined oil</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/chemistral-factory.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Chemical factory</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produces oil from the treated oil and gas</div>
						</div>

						<p class="topicPost">Electric power supply</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/steam-generator.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steam generator</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It produces electricity. Needed supply of hot water (100 degrees) and the electrical connection with consumers</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/low-power-lines.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Low power lines</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides consumers with electricity in the 5x5. Cord length 8</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/LEP.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">LEP</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides consumers with electricity in the 7x7. Cord length 9</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/most-power-lines.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Most power lines</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Supplying consumers with electricity in the 4x4 region. Length of wire 30</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/electrical-substation.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Electrical substation</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides consumers with electricity in the area of ​​14x14. Length of wire 14</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/big-battery.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Big battery</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It stores energy in an excess of its production</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/solar-battery.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Solar battery</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It generates electricity during the daytime</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/lamp.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Lamp</div>
							<div class="col-md-7 col-xs-7 col-sm-7">The lamp is the primary electrical device, giving light in a small area at night</div>
						</div>

						<p class="topicPost">Wires</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/red-wire.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Red wire</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to combine items into a single logical network</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/green-wire.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Greed wire</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to combine items into a single logical network</div>
						</div>

						<p class="topicPost">Production</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/automatic-factory-1.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Automatic factory 1</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Automates the production of articles with a recipe to 2 components. Speed 50%</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/automatic-factory-2.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Automatic factory 2</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Automates the production of articles with a recipe to 4 components. Speed 75%</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/automatic-factory-3.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Automatic factory 3</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Automates the production of articles with a recipe to 6 components. Speed 125%</div>
						</div>

						<p class="topicPost">Instruments</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/iron-pickaxe.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Iron pickaxe</div>
							<div class="col-md-7 col-xs-7 col-sm-7">A tool to speed production by 150%. Durability 4000</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/steel-pickaxe.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steel pickaxe</div>
							<div class="col-md-7 col-xs-7 col-sm-7">A tool to speed production by 300%. Durability 5000</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/repair-kit.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Repair kit</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Used to restore the strength of the 100 units have damaged objects</div>
						</div>

						<p class="topicPost">Protective structures</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/machine-gun-turret.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Machine-gun turret</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Automatically shoots at enemies. It uses the store with cartridges</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/laser-turret.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Laser turret</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Automatically shoots at enemies. It needs electricity. Electricity consumed during the shot</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/wall.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Wall</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Blocks move. Refractory</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/goal.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Goal</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Blocks the movement. However, open when a train is approaching, or game character</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/radar.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Radar</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Scan the area in a large radius. Keeps track of the movement of enemies</div>
						</div>

						<p class="topicPost">Missile defense</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/missile-silos.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Missile silos</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to build a missile silos</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/rocket-detail.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Rocket detail</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Necessary for the construction of a rocket</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/satellite.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Satellite</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It fits into rocket</div>
						</div>

						<p class="topicPost">Technology research</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/laboratory.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Laboratory</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Lets explore technology</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/research-pack-1.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Research pack 1</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Required for all research techniques in the laboratory</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/research-pack-2.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Research pack 2</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Required for Advanced Studies in the laboratory</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/research-pack-3.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Research pack 3</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It required for high-tech research in the lab</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/research-pack-strangers.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Research pack strangers</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It required for advanced research in the laboratory</div>
						</div>

						<p class="topicPost">Weapon</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/pistol.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Pistol</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Basic weapon. It is given at the beginning of the game. Effective for shooting lightly armored opponents.</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/michine-gun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Machine gun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Machine gun - even in Africa gun.Effective for shooting and lightly-lightly armored opponents. Not only is effective for shooting heavily armored opponents</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/shotgun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Shotgun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Fires shot. Especially effective for the purposes of shooting light. It will help to send to the light as the average target, and heavy.</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/combat-shotgun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Combat shotgun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Enhanced version of the shotgun</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/launcher.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Launcher</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to shoot missiles</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/handheld-flamethrower.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Handheld flamethrower</div>
							<div class="col-md-7 col-xs-7 col-sm-7">The massive melee weapons require fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/railgun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Railgun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Beats piercing beam at a great distance. Long recharging</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/mine.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Mine</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Powerful bulk explosives placed on the ground. It explodes on contact with the beetles. A player does not react</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/grenage.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Grenade</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Hand grenade. Damage 25</div>
						</div>

						<p class="topicPost">Ammunition</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/ammunition.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Ammunition</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Shop 10 rounds. Physical damage - 2</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/armor-piercing-ammunition	.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Armor-piercing ammunition</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Shop 10 rounds. Physical damage - 5</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/	ammunition-for-shotgun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Ammunition for shotgun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Ammunition for shotgun. Physical damage - 48</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/armor-piercing-ammunition-for-the-shotgun.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Armor-piercing ammunition for the shotgun</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Armor-piercing ammunition for the shotgun. Physical damage - 96</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/conventional-rockets.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Conventional rockets</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Rocket propelled grenades. Explosive damage - 40</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/breaking-rocket.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Breaking rocket</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Breaking rocket propelled grenades. Explosive damage - 60</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/flamethrower-fuel.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Flamethrower fuel</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Charge 100 injections fire</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/energy-ammunition.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Electric ammunition</div>
							<div class="col-md-7 col-xs-7 col-sm-7">The charge on 4 shots. Physical damage - 100</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/tank-shells.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Tank shells</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Shells for tanks . Explosive damage - 50 physical damage - 150</div>
						</div>
<!--
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/111111.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">2222222</div>
							<div class="col-md-7 col-xs-7 col-sm-7">33333333</div>
						</div>
-->


						<p class="topicPost">Armor</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/light-armor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Light armor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides additional damage resistance. Durability 1000</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/heavy-armor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Heavy armor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides additional damage resistance. Durability 5000.</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/modular-armor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Modular armor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides additional damage resistance, and the ability to insert modules in the armor. Durability 10000</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/energy-armor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Energy armor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides additional damage resistance, and the ability to insert modules in the armor. Durability 15000</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/energy-armormk2.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Energy armor MK2</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides additional damage resistance, and the ability to insert modules in the armor. Durability 20000</div>
						</div>
						
						
						

						<p class="topicPost">Equipment</p>
						<p class="line"></p>

                        <div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/energy-shield.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Energy Shield</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It absorbs damage done by the game character until the power drops to 0</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/energy-shieldmk2.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Energy Shield MK2</div>
							<div class="col-md-7 col-xs-7 col-sm-7"> It absorbs damage done by the game character until the power drops to 0</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/night-vision.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Night-vision device</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to see better at night</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/exoskeleton.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Exoskeleton</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to speed up the movement of the game character.</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/batterye.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Battery</div>
							<div class="col-md-7 col-xs-7 col-sm-7"> Battery power</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/battery-mk2.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Battery MK2</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Batteries power large capacity</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/solar-panel.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Portable solar battery</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Power supply to other modules. It only works during the day</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/fusion-reactor.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Portable fusion reactor</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Powerful power supply to the other modules</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/basic-laser.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Personal laser protection</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides extra firepower, expending energy</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/basic-electric-discharge.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Shock protection</div>
							<div class="col-md-7 col-xs-7 col-sm-7">A powerful defense system. Using the remote control 1 is activated 1 digit</div>
						</div>

						<p class="topicPost">Transport</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/car.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Car</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Quick and poorly protected transport. Able to ride a coal and wood, and the refined oil (fuel oil, gas oil and diesel fuel)</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/tank.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Tank</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Well-protected trucks</div>
						</div>

						<p class="topicPost">Drones</p>
						<p class="line"></p>

						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/transport-robot.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Transport drone</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Transports resources between logistics chests</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/construction-robot.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Building drone</div>
							<div class="col-md-7 col-xs-7 col-sm-7">Repairs buildings</div>
						</div>

						<p class="topicPost">Railway system</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/diesel-locomotive.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Diesel locomotive</div>
							<div class="col-md-7 col-xs-7 col-sm-7">The vehicle, which allows cars to transport the load. It requires rails and fuel transportation</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/cargo-wagon.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Cargo carriage</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows you to carry 20 cells with the cargo. It requires rails and attached to the locomotive movement</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/straight-rail.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Direct rail</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides transportation railway rolling stock is straight ahead</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/curved-rail.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Corner rail</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It provides transportation railway rolling stock with a change of course</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/automated-rail-transportation.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Stop the train</div>
							<div class="col-md-7 col-xs-7 col-sm-7">  It used to automate the rail network. Indicates a stopping place of trainsk</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/rail-signal.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Railway signal</div>
							<div class="col-md-7 col-xs-7 col-sm-7"> It used to automate the rail network. It regulates the movement of trains</div>
						</div>

						<p class="topicPost">Manipulators</p>
						<p class="line"></p>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/burner-inserter.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Steam crane</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It moves objects. It needs fuel</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/inserter.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Manipulator</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It moves objects. It needs electricity</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/long-inserter.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Long arm</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It moves objects by grabbing them through one cell. It needs electricity</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/fast-inserter.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Quick arm</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It quickly moves the items. It needs electricity</div>
						</div>
						<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/smart-inserter.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Clever manipulator</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It moves objects ichodya the filter conditions (more slots than the arm with the filter). It needs electricity</div>
						</div>
						<p class="topicPost">Other</p>
						<p class="line"></p>
							<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/beacon.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Basic lighthouse</div>
							<div class="col-md-7 col-xs-7 col-sm-7"> It used for distribution of bonus units on the buildings in the coverage area. Efficiency ratio 0.5</div>
						</div>
							<div class="row miniPost">
							<div class="col-md-1 col-xs-1 col-sm-1"> <img class="MI" src="static/images/wiki/concrete.png" alt=""></div>
							<div class="col-md-3 col-xs-3 col-sm-3 ElementWiki">Concrete road</div>
							<div class="col-md-7 col-xs-7 col-sm-7">It allows for rapid move of the player.</div>
						</div>


{% endblock %}
